<gp-task-input-text gpFxFill label="STATE"
                    data-cy="address-state"
                    [fieldName]="dataField"
                    [parentForm]="parentForm"
                    [value]="state"
                    maxLength="256"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['STATE']"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
