.custom-popover {
    background-color: #616161;
    margin: 0;
    color: white;
    border-radius: 10px;
    padding: 8px 8px 8px 8px;
    line-height: 0.5em;
    font-size: 12px
}

::ng-deep div.custom-popover>h1 {
    font-size: 16px !important;
    line-height: 1.3em !important;
    font-weight: normal !important;
    margin: 0;
    color: white !important;
}

::ng-deep div.custom-popover>h2 {
    font-size: 15px !important;
    line-height: 1.3em !important;
    font-weight: normal !important;
    margin: 0;
    color: white !important;
}

::ng-deep div.custom-popover>h3 {
    font-size: 13px !important;
    line-height: 1.3em !important;
    font-weight: normal !important;
    margin: 0;
    color: white !important;
}

::ng-deep div.custom-popover>ul {
    font-size: 12px !important;
    line-height: 1.3em !important;
    font-weight: normal !important;
    color: white !important;
}

::ng-deep div.custom-popover>ol {
    font-size: 12px !important;
    line-height: 1.3em !important;
    font-weight: normal !important;
    color: white !important;
}

::ng-deep .ql-container {
    max-height: 250px;
    overflow: auto;
}

.ql-read-only {
    ::ng-deep .ql-toolbar {
        display: none;
    }

    ::ng-deep .ql-container {
        border: none;
    }
}

.ql-error {
    ::ng-deep .ql-toolbar {
        border-bottom: 1px solid #b00020;
    }

    ::ng-deep .ql-container {
        border: 1px solid #b00020;
    }
}

.ql-view-container {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 350px;
    overflow: auto;
}

.ql-editor-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-form{
    overflow: auto;
    max-height: 600px;
}