@use '@angular/material' as mat;
@import '../../../../styles-theme';

.key-type-container {
  outline: none;

  &:hover {
    background-color: mat.get-color-from-palette($accent, 100);

    .delete-key-type-container button {
      visibility: visible;

      .gp-icon:hover {
        color: mat.get-color-from-palette($accent, 500);
      }
    }
  }

  .key-type-name-container {
    float: left;
    margin-top: 12px;
    max-width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .delete-key-type-container {
    float: right;

    .mat-mdc-icon-button {
      visibility: hidden;
    }
  }
}
