@use '@angular/material' as mat;
@import 'src/styles-theme';

.content {
  color: mat.get-color-from-palette($accent, 800);
  min-height: 24px;
  font-stretch: normal;
  font-style: normal;
  font-size: 14px;
}
