@use '@angular/material' as mat;
@import '../../../../../styles-theme.scss';

.content {
  padding: 20px;

  gp-services-chip {
    margin-right: 20px;

    ::ng-deep .chip {
      width: max-content;
      padding: 5px 15px;

      &:hover {
        background-color: mat.get-color-from-palette($accent, 100, 1);
        cursor: default;
      }
    }
  }

  .chip-container {
    margin: 0px 5px;
  }
}

.copy-company-btn{
  margin-left: 20px;
}
