<gp-default-layout>
  <gp-header header-toolbar
             [breadcrumbItems]="[{ label: 'STRUCTURE' }, { label: 'DEALER_GROUPS' }]">
  </gp-header>
  <gp-edit-layout title="{{ 'DEALER_GROUPS' | translate }}"
                  [marginalColumnDisabled]="true">
    <gp-edit-section>
      <gp-content-loader [isLoading]="isLoading">

        <mat-form-field>
          <mat-label>{{ 'TYPE_TO_SEARCH_WITHIN_LIST' | translate }}</mat-label>
          <gp-icon matPrefix
                   name="search">
          </gp-icon>
          <input matInput
                 (keyup)="filterTable($event.target.value)">
        </mat-form-field>

        <mat-table matSort
                   [dataSource]="dealerGroupsDataSource">

          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>
              {{ 'COUNTRY' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.country }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dealerGroupId">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>
              {{ 'ID' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.dealerGroupId }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dealerGroupName">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>
              {{ 'DEALER_GROUP_NAME' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a routerLink="./{{ element.dealerGroupId }}/edit">{{ element.dealerGroupName }}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="headquarter">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>
              {{ 'HEAD_OF_DEALER_GROUP' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a routerLink="/outlet/{{element.headquarterId}}">{{ element.headquarter }}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="headquarterBrandCodes">
            <mat-header-cell *matHeaderCellDef>
              {{ 'BRAND_CODES' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <gp-brand-code [outletId]="element.headquarterId"
                             [brandCodesInput]="element.headquarterBrandCodes"></gp-brand-code>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="activeState">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>
              {{ 'STATUS' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.activeStateText }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="successor">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>
              {{ 'SUCCESSOR' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a *ngIf="element.successor"
                 routerLink="./{{element.successorId}}/edit">{{ element.successor }}
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="dealerGroupTableColumns"></mat-header-row>
          <mat-row *matRowDef="let element; columns: dealerGroupTableColumns"
                   [class.row-disabled]="!element.activeState">
          </mat-row>
        </mat-table>

        <div loader
             xmlns:svg='http://www.w3.org/2000/svg'>
          <content-loader preserveAspectRatio="none">
            <svg:rect x="0"
                      y="0"
                      width="400"
                      height="20" />
            <svg:rect x="0"
                      y="30"
                      width="400"
                      height="40" />
            <svg:rect x="0"
                      y="80"
                      width="400"
                      height="40" />
          </content-loader>
        </div>
      </gp-content-loader>

    </gp-edit-section>
  </gp-edit-layout>

  <gp-default-edit-actions footer-toolbar
                           gpFxFill
                           *ngIf="isAuthorized | async"
                           [saveButtonDisabled]="true"
                           [cancelButtonDisabled]="true">
    <button mat-flat-button
            class="gp-icon-flat-button"
            routerLink="./add">
      <gp-icon gpIconButtonWithText
               name="plus"></gp-icon>
      {{ 'DEALER_GROUPS_ADD' | translate }}
    </button>
  </gp-default-edit-actions>
</gp-default-layout>
