<gp-task-input-text gpFxFill
                    label="ADDRESS_ADDITION"
                    data-cy="address-address-addition"
                    [fieldName]="dataField"
                    [parentForm]="parentForm"
                    [value]="addressAddition"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['ADDRESS_ADDITION', 'ADDITIONAL_ADDRESS_ADDRESS_ADDITION']"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
