<mat-form-field *ngIf="!readonly; else productGroupReadonly"
                [ngClass]="{'no-label': !externalKeyDownload}">
  <mat-label *ngIf="externalKeyDownload" >{{ placeholder }}</mat-label>

  <mat-select [formControl]="control"
              [placeholder]="externalKeyDownload ? '' : placeholder"
              (selectionChange)="onChange($event)"
              data-cy="product-group-selection"
  >
    <mat-option *ngIf="!required"></mat-option>
    <mat-option *ngFor="let productGroup of productGroups"
                [value]="productGroup.id" data-cy="product-group-selection-option">
      {{ productGroup.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-template #productGroupReadonly>
  {{ control.value }}
</ng-template>
