<gp-task-input-text gpFxFill
                    label="PROVINCE"
                    data-cy="address-province"
                    [fieldName]="dataField"
                    [parentForm]="parentForm"
                    [value]="province"
                    maxLength="256"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['PROVINCE']"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
