<gp-task-input-text gpFxFill label="NAME_ADDITION"
                    data-cy="address-name-addition"
                    [fieldName]="dataField"
                    [parentForm]="parentForm"
                    [value]="name"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['NAME_ADDITION']"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
