<gp-task-input-text gpFxFill
                    label="DISTRICT"
                    data-cy="address-district"
                    [fieldName]="dataField"
                    [parentForm]="parentForm"
                    [value]="district"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['DISTRICT', 'ADDITIONAL_ADDRESS_DISTRICT']"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
