<ng-container *ngIf='!isLoading'>
  <ng-content select="[address-lines-content]"></ng-content>
</ng-container>
<ng-container *ngIf='isLoading'>
  <div loader
       class="address-loader"
       xmlns:svg='http://www.w3.org/2000/svg'>
    <content-loader primaryOpacity="0.3"
                    secondaryOpacity="0.7"
                    width="200"
                    height="60"
                    preserveAspectRatio="none">
      <svg:rect x="0"
                y="5"
                width="200px"
                height="10px" />
      <svg:rect x="0"
                y="22px"
                width="80px"
                height="10px" />
      <svg:rect x="90px"
                y="22px"
                width="80px"
                height="10px" />
      <svg:rect x="0"
                y="39px"
                width="150px"
                height="10px" />
    </content-loader>
  </div>
</ng-container>
