<gp-default-layout>
  <gp-header header-toolbar
             [breadcrumbItems]="[{label: 'MASTER_DATA', path: '/master'},
             {label: 'PRODUCT_GROUPS'},
             {label: productGroupName}]">
  </gp-header>
  <div gpContent>
    <div gpFxLayout="row"
         gpFxLayoutGap="10px">
      <div gpFxLayout="column"
           class="header">
        <h1>{{ productGroupName }}</h1>
        <span>{{ 'UPDATE_PRODUCT_GROUP_SUBTITLE' | translate }}</span>
      </div>
    </div>
    <form [formGroup]="productGroupForm"
          (ngSubmit)="submit(productGroupForm.value)">
      <div gpFxLayout="column">
        <div gpFxLayout="row"
             gpFxLayoutGap="30px">
          <mat-form-field gpFxFlex="50">
            <mat-label>{{ 'NAME' | translate }}</mat-label>
            <input matInput
                   formControlName="name"
                   type="text"
                   required />
            <mat-error *ngIf="productGroupForm.get('name')?.hasError('required')">
              {{ 'VALIDATION_ERROR_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="productGroupForm.get('name')?.hasError('maxlength')">
              {{ 'VALIDATION_ERROR_MAX_LENGTH' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field gpFxFlex="30">
            <mat-label>{{ 'SHORTNAME' | translate }}</mat-label>
            <input matInput
                   formControlName="shortName"
                   type="text"
                   required />
            <mat-error *ngIf="productGroupForm.get('shortName')?.hasError('required')">
              {{ 'VALIDATION_ERROR_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="productGroupForm.get('shortName')?.hasError('maxlength')">
              {{ 'VALIDATION_ERROR_MAX_LENGTH' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field gpFxFlex>
            <mat-label>{{ 'ID' | translate }}</mat-label>
            <input matInput
                   formControlName="id"
                   type="text"
                   required />
            <gp-icon matSuffix
                     *ngIf="productGroupForm.get('id')?.disabled"
                     name="lock"
                     size="small"></gp-icon>
          </mat-form-field>
        </div>

        <gp-translation-table [translations]="productGroupForm.get('translations')?.value">
        </gp-translation-table>

        <div gpFxLayout="row">
          <div gpFxFlex>
            <button type="reset"
                    mat-button
                    routerLink="/master">
              {{ 'CANCEL' | translate }}
            </button>
          </div>
          <button type="submit"
                  mat-button
                  [disabled]="productGroupForm.invalid">
            {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</gp-default-layout>
