@use '@angular/material' as mat;
@import 'src/styles/default-scrollbar';
@import '../../../../../styles-theme.scss';

ul {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 24px;
}

.brand-product-group {
  height: 45px;
}

.mat-mdc-cell:last-child,
.mat-mdc-footer-cell:last-child,
.mat-mdc-header-cell:last-child {
  max-width: none;
}

.table-height-25 {
  max-height: 25rem;
  height: 25rem;
  overflow: auto;
}

.table-height-10 {
  max-height: 10rem;
  height: 10rem;
  overflow: auto;
}

.chip-row-wrap {
  display: flex !important;
  flex-wrap: wrap;
}

gp-services-chip {
  margin-right: 20px;

  ::ng-deep .chip {
    width: max-content;
    padding: 5px 15px;

    &:hover {
      background-color: mat.get-color-from-palette($accent, 100, 1);
      cursor: default;
    }
  }
}
