<ng-container [formGroup]="form">
  <mat-form-field appearance="outline"
                  class="show-footer"
                  [ngClass]="getClassObject()"
                  subscriptSizing="dynamic"
                  [floatLabel]="taskForDisplay.shouldDisplayFutureValue ? 'always':'auto'"
  >
    <textarea matInput
              #textInput
              [style.min-height.px]="minHeight"
              (keyup)="onKeyUp($event)"
              (keydown)="onKeyDown($event)"
              [formControlName]="controlName"
              [required]="required"
              [placeholder]="placeHolder"
              [ngClass]="{'revert-readonly':revertReadonly}">
    </textarea>
    <mat-hint *ngIf="!readonly && !required && form.valid"
              class="optional">{{ 'OPTIONAL' | translate }}</mat-hint>
    <mat-error *ngIf="form.get(controlName)?.hasError('required')">
      {{ 'VALIDATION_ERROR_REQUIRED' | translate }}
    </mat-error>
    <mat-error *ngIf="form.get(controlName)?.hasError('maxLength')">
      {{ "VALIDATION_ERROR_MAX_LENGTH" | translate: {max: maxCharLength} }}
    </mat-error>
    <mat-error *ngIf="form.get(controlName)?.value?.length > maxCharLength">
      {{ 'VALIDATION_ERROR_MAX_LENGTH' | translate }}</mat-error>
    <mat-hint *ngIf="!readonly && form.get(controlName)?.value"
              align="end">
      {{ form.get(controlName)?.value?.length}} / {{ maxCharLength }}
      {{ 'TEXT_AREA_HINT_CHARACTERS' | translate }}
    </mat-hint>
  </mat-form-field>
</ng-container>
