gp-switch-language {
  margin: 15px 0px 0px 0px;
}

gp-header {
  min-width: 310px;
  display: block;
}

.tile {
  min-width: 310px;
  margin-bottom: 30px;
}

.content-container {
  min-height: 305px;
}

#factoryimg {
  flex: 0 0 auto;
  width: 400px;
  height: 119px;
  margin-bottom: -6px;
}
