<ng-container *ngIf='!isLoading'>
  <ng-content select='[outlet-id-status-content]'></ng-content>
</ng-container>
<ng-container *ngIf='isLoading'>
  <div class='id-and-status-loader'
       xmlns:svg='http://www.w3.org/2000/svg'>
    <content-loader primaryOpacity='0.3'
                    secondaryOpacity='0.7'
                    width='250'
                    height='20'
                    preserveAspectRatio='none'>
      <svg:rect x='0'
                y='0'
                width='250px'
                height='20px' />
    </content-loader>
  </div>
</ng-container>
