<gp-default-layout>
  <gp-header header-toolbar [breadcrumbItems]="[{label: 'MASTER_DATA', path: '/master'}, {label: 'COUNTRIES'}]">
  </gp-header>
  <div gpContent>
    <div gpFxLayout="row" gpFxLayoutGap="10px">
      <gp-header-image [name]="'countries'" [large]="true"></gp-header-image>
      <div gpFxLayout="column" class="header">
        <h1>{{ 'CREATE_COUNTRY' | translate }}</h1>
        <span>{{ 'CREATE_COUNTRY_SUBTITLE' | translate }}</span>
      </div>
    </div>
    <form [formGroup]="countryForm" (ngSubmit)="submit(countryForm.value)">
      <div gpFxLayout="column">
        <div gpFxLayout="row" gpFxLayoutGap="30px">
          <mat-form-field gpFxFlex="50">
            <mat-label>{{ 'COUNTRY_NAME' | translate }}</mat-label>
            <input matInput formControlName="name" type="text" required />
            <mat-error *ngIf="countryForm.get('name')?.hasError('required')">
              {{ 'VALIDATION_ERROR_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="countryForm.get('name')?.hasError('maxlength')">
              {{ 'VALIDATION_ERROR_MAX_LENGTH' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field gpFxFlex="20">
            <mat-label>{{ 'COUNTRY_CODE' | translate }}</mat-label>
            <input matInput formControlName="id" type="text" required />
            <mat-error *ngIf="countryForm.get('id')?.hasError('required')">
              {{ 'VALIDATION_ERROR_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="countryForm.get('id')?.hasError('maxlength')">
              {{ 'VALIDATION_ERROR_MAX_LENGTH' | translate }}
            </mat-error>
            <mat-error *ngIf="countryForm.get('id')?.hasError('minlength')">
              {{ 'VALIDATION_ERROR_MIN_LENGTH' | translate }}
            </mat-error>
            <mat-error *ngIf="countryForm.get('id')?.hasError('pattern')">
              {{ 'VALIDATION_ERROR_PATTERN' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field gpFxFlex>
            <mat-label>{{ 'CLASSIC_COUNTRY_ID' | translate }}</mat-label>
            <input matInput formControlName="classicCountryId" type="text" required />
            <gp-icon matSuffix *ngIf="countryForm.get('classicCountryId')?.disabled" name="lock" size="small"></gp-icon>
          </mat-form-field>
        </div>

        <div gpFxLayout="row" gpFxLayoutGap="30px">
          <div gpFxFlex="60" style="display: block;">
            <gp-chips-selection placeholder="{{ 'LANGUAGES' | translate }}" [control]="countryForm.get('languages')"
                                [itemList]="languages" [isLanguage]="true" (changeFunction)="change()">
            </gp-chips-selection>
          </div>

          <mat-form-field gpFxFlex style="display: block">
            <mat-label>{{ 'TIMEZONE' | translate }}</mat-label>
            <mat-select formControlName="timeZone">
              <mat-option *ngFor="let tz of timezones" matTooltip="{{ tz.names }}" matTooltipClass="tooltip"
                          [value]="tz.utcOffset">
                {{ tz.utcOffset }} ({{ tz.names }})
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div gpFxLayout="row" gpFxLayoutGap="30px">
          <mat-form-field>
            <mat-label>{{ 'DEFAULT_LANGUAGE' | translate }}</mat-label>
            <mat-select formControlName="defaultLanguageId">
              <mat-option *ngFor="let languageId of countryForm.get('languages')?.value" [value]="languageId">
                {{ languageBy(languageId)?.name }} [{{ languageId }}]
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div gpFxLayout="row">
          <div gpFxFlex>
            <button type="reset" mat-button routerLink="/master">
              {{ 'CANCEL' | translate }}
            </button>
          </div>
          <button type="submit" mat-button [disabled]="countryForm.invalid">
            {{ 'CREATE' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</gp-default-layout>
