@import '../../../../styles-theme';

.message {
  width: 100%;
  max-height: 120px;
  top: 0px;
  left: 0px;
  z-index: 100;

  .contents {
    height: 100%;
    padding: 10px;
    font-size: 20px;
    line-height: 25px;
    background-color: rgb(0, 160, 230);
    color: white;
    left: 0;
    position: static;
  }
}

.close_button {
  cursor: pointer;
}
