@use '@angular/material' as mat;
@import '../../../../styles-theme';
@import '../../../../styles/commons.scss';

.mat-mdc-table {
  min-width: 1283px;
  width: 100%;

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    padding-left: 0;
  }

  .brands,
  .product-groups {
    border-right: 1px solid mat.get-color-from-palette($accent, 100);
  }

  .mat-mdc-header-row {
    background-color: white;

    &:last-of-type {
      .mat-mdc-header-cell {
        border-bottom: 1px solid mat.get-color-from-palette($accent, 700);
      }
    }

    .mat-mdc-header-cell {
      &:first-of-type {
        border-right: 1px solid mat.get-color-from-palette($accent, 100);
      }
    }

    .no-content,
    .brands {
      @include no-select;
      height: 60px;
    }

    .product-groups {
      @include no-select;
      height: 60px;
      background-color: mat.get-color-from-palette($primary, 100, 0.15);
    }
  }

  .mat-mdc-row {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    align-items: center;
    border: none;
    padding: 0;

    .mat-mdc-cell {
      display: flex;
      max-height: 60px;
      border-bottom: 1px solid mat.get-color-from-palette($accent, 100);

      &:first-of-type {
        border-right: 1px solid mat.get-color-from-palette($accent, 100);
      }
    }

    .product-groups {
      height: 59px;
    }
  }
}
