@import '../../../../../styles-theme';

.month-container {
  min-width: 315px;

  .weekNumbers {
    float: left;
    padding-top: 32px;
  }

  .month {
    display: flex;
    flex-flow: row wrap;
    width: 275px;
  }
}
