@use '@angular/material' as mat;
@import 'src/styles-theme';

.changed {
  font-weight: bold;
  color: mat.get-color-from-palette($accent, 500);
}

.popupLinkChanged {
  font-weight: bold;
  text-decoration: underline;
  color: mat.get-color-from-palette($accent, 500);
  cursor: pointer;
}

.popupLink{
  text-decoration: underline;
  cursor: pointer;
}

.popupLink:hover{
  color: mat.get-color-from-palette($accent, 500);
}

.popupLinkChanged:hover{
  color: mat.get-color-from-palette($accent, 500);
}
