@use '@angular/material' as mat;
@import '../../../../../styles-theme';

:host {
  width: 100%;
  margin-left: 14px;

  .read-only {
    color: mat.get-contrast-color-from-palette($accent, 300);
  }
}
