<div gpFxLayout="row">
  <div gpFxFlex
       gpFxFlex="25"
       gpFxLayout="column">{{'DATARESTRICTION_TENANTS' | translate}}
  </div>
  <div gpFxFlex
       gpFxLayout="column">:
    {{ assignedDataRestrictions?.tenantDataRestrictions }}
  </div>
</div>
<div gpFxLayout="row">
  <div gpFxFlex
       gpFxFlex="25"
       gpFxLayout="column">{{'DATARESTRICTION_LANGUAGES' | translate}}
  </div>
  <div gpFxFlex
       gpFxLayout="column">:
    {{ assignedDataRestrictions?.languageDataRestrictions }}
  </div>
</div>
<div gpFxLayout="row">
  <div gpFxFlex
       gpFxFlex="25"
       gpFxLayout="column">{{'DATARESTRICTION_COUNTRIES' | translate}}
  </div>
  <div gpFxFlex
       gpFxLayout="column">:
    {{ assignedDataRestrictions?.countryDataRestrictions }}
  </div>
</div>
<div gpFxLayout="row">
  <div gpFxFlex
       gpFxFlex="25"
       gpFxLayout="column">{{'DATARESTRICTION_BRANDS' | translate}}
  </div>
  <div gpFxFlex
       gpFxLayout="column">:
    {{ assignedDataRestrictions?.brandDataRestrictions }}
  </div>
</div>
<div gpFxLayout="row">
  <div gpFxFlex
       gpFxFlex="25"
       gpFxLayout="column">{{'DATARESTRICTION_PRODUCTGROUPS' | translate}}
  </div>
  <div gpFxFlex
       gpFxLayout="column">:
    {{ assignedDataRestrictions?.productGroupDataRestrictions }}
  </div>
</div>
<div gpFxLayout="row">
  <div gpFxFlex
       gpFxFlex="25"
       gpFxLayout="column">{{'DATARESTRICTION_DISTRIBUTION_LEVELS' | translate}}
  </div>
  <div gpFxFlex
       gpFxLayout="column">:
    {{ assignedDataRestrictions?.outletCategoryDataRestrictions }}
  </div>
</div>
<div gpFxLayout="row">
  <div gpFxFlex
       gpFxFlex="25"
       gpFxLayout="column">{{'DATARESTRICTION_OUTLETS' | translate}}
  </div>
  <div gpFxFlex
       gpFxLayout="column">:
    {{ assignedDataRestrictions?.outletDataRestrictions }}
  </div>
</div>
<div gpFxLayout="row">
  <div gpFxFlex
       gpFxFlex="25"
       gpFxLayout="column">{{'DATARESTRICTION_SERVICES' | translate}}
  </div>
  <div gpFxFlex
       gpFxLayout="column">:
    {{ assignedDataRestrictions?.serviceDataRestrictions }}
  </div>
</div>
