@use '@angular/material' as mat;
@import '../../../../styles-theme';

.chip {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid mat.get-color-from-palette($primary, 500);
  background-color: mat.get-color-from-palette($primary, 500);
  color: mat.get-color-from-palette($primary, 50);
  padding: 7px 10px 0 10px;

  .close {
    &::after {
      font-size: 30px;
      padding: 3px 0 0 10px;
      content: '\00d7';
    }
    &:hover {
      cursor: pointer;
    }
  }
}
