@use '@angular/material' as mat;
@import '../../../../styles-theme';

h5 {
  font-size: 12px;
  margin: 0;
}

.contract-partner {
  border-bottom: 1px solid mat.get-color-from-palette($accent, 600);
  width: 100%;
  max-width: 375px;
  height: 25px;
  margin-bottom: 15px;

  .editable {
    cursor: text;
  }

  &.search-opened {
    color: mat.get-color-from-palette($primary, 400);
    border-bottom: 1px solid mat.get-color-from-palette($primary, 400);
  }

  .partner-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .no-partner {
    color: mat.get-color-from-palette($accent, 600);
  }
}
