<gp-task-input-text gpFxFill
                    label="PO_BOX_NUMBER"
                    data-cy="po-box-number"
                    [fieldName]="dataField"
                    [parentForm]="poBoxForm"
                    [value]="number"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['PO_BOX_NUMBER']"
                    [maxLength]="50"
                    [readonly]="readonly"
                    [required]="required"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
