<gp-task-input-text gpFxFill
                    label="PO_BOX_ZIP_CODE"
                    data-cy="po-box-number"
                    [fieldName]="dataField"
                    [parentForm]="poBoxForm"
                    [value]="zipCode"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['PO_BOX_ZIP_CODE']"
                    [maxLength]="20"
                    [readonly]="readonly"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
