<gp-task-input-text gpFxFill label="STREET"
                    data-cy="address-street"
                    [fieldName]="dataField"
                    [parentForm]="parentForm"
                    [value]="street"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['STREET', 'ADDITIONAL_ADDRESS_STREET']"
                    (inputChange)="formControlChange()"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
