<gp-task-input-text gpFxFill
                    label="PO_BOX_CITY"
                    data-cy="po-box-city"
                    [fieldName]="dataField"
                    [parentForm]="poBoxForm"
                    [value]="city"
                    [dataNotificationChangeFields]="dataNotificationChangeFields"
                    [isRetailOutlet]="isRetailOutlet"
                    [dataNotificationChangeFieldsInclusion]="['PO_BOX_CITY']"
                    [maxLength]="50"
                    [required]="required"
                    [errorStateMatcher]="parentErrorStateMatcher"
                    [aggregateField]="aggregateField"
                    [aggregateName]="aggregateName"
                    [dataCluster]="dataCluster"
>
</gp-task-input-text>
