<gp-default-layout>
  <gp-header header-toolbar
             [breadcrumbItems]="[{label: 'MASTER_DATA', path: '/master'},
             {label: 'LABELS'}]">
  </gp-header>
  <div gpContent>
    <div gpFxLayout="row"
         gpFxLayoutGap="10px">
      <gp-header-image [name]="'labels'"
                       [large]="true"></gp-header-image>
      <div gpFxLayout="column"
           class="header">
        <h1>{{ 'CREATE_LABEL' | translate }}</h1>
        <span>{{ 'CREATE_LABEL_SUBTITLE' | translate }}</span>
      </div>
    </div>
    <form [formGroup]="labelForm"
          (ngSubmit)="submit(labelForm.value)">
      <div gpFxLayout="column">
        <div gpFxLayout="row"
             gpFxLayoutGap="30px">
          <mat-form-field gpFxFlex="70">
            <mat-label>{{ 'NAME' | translate }}</mat-label>
            <input matInput
                   formControlName="name"
                   type="text"
                   required />
            <mat-error *ngIf="labelForm.get('name')?.hasError('required')">
              {{ 'VALIDATION_ERROR_REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="labelForm.get('name')?.hasError('maxlength')">
              {{ 'VALIDATION_ERROR_MAX_LENGTH' | translate }}
            </mat-error>
          </mat-form-field>
          <mat-form-field gpFxFlex>
            <mat-label>{{ 'ID' | translate }}</mat-label>
            <input matInput
                   formControlName="id"
                   type="text"
                   required />
            <gp-icon matSuffix
                     *ngIf="labelForm.get('id')?.disabled"
                     name="lock"
                     size="small"></gp-icon>
          </mat-form-field>
        </div>
      </div>
      <gp-chips-selection placeholder="{{ 'TYPE' | translate }}"
                          [control]="labelForm.get('assignableTo')"
                          [itemEnum]="assignableType"
                          required>
      </gp-chips-selection>
      <gp-chips-selection placeholder="{{ 'BRANDS' | translate }}"
                          [control]="labelForm.get('restrictedToBrandIds')"
                          [itemList]="brands">
      </gp-chips-selection>
      <div gpFxLayout="row">
        <div gpFxFlex>
          <button type="reset"
                  mat-button
                  routerLink="/master">
            {{ 'CANCEL' | translate }}
          </button>
        </div>
        <button type="submit"
                mat-button
                [disabled]="labelForm.invalid">
          {{ 'CREATE' | translate }}
        </button>
      </div>
    </form>
  </div>
</gp-default-layout>
