@use '@angular/material' as mat;
@import '../../../../styles-theme';

.mat-card-content-legal-name {
  font-size: 14px;
  font-weight: bold;
  color: mat.get-color-from-palette($accent, 800);
  padding-bottom: 5px;
}

.mat-card-content-address {
  font-size: 14px;
  color: mat.get-color-from-palette($accent, 800);
  padding-bottom: 13px;
}

.mat-card-content-affiliate {
  padding-top: 0px;
  padding-bottom: 11px;
  font-size: 14px;
  color: mat.get-color-from-palette($accent, 800);
}
.icon-left {
  fill: mat.get-color-from-palette($accent, 700);
  margin-left: 3px;
  margin-right: 1px;
}
.mat-divider {
  margin-left: 20px;
  width: 260px;
}
